:root {
    --text: #D9B310;
    --container: #328cc1;
    --contrast: #1D2731;
}

body {
    background: #0B3C5D;
}
.container {
    position: absolute;
    left: 35%;
    top: 10%;
    width: 500px;
    height: 500px;
    border: var(--contrast) 4px solid;
    background-color: var(--container);
}

.flexContainer {
    display: flex;
}

#timeCounter {
    margin-left: 85%;
    color: var(--text);
}

#highScore {
    display: flex;
    color: var(--text);
}
.hide{
    display: none;
}

.show{
    display: block
}
/* .choice{
    display: block;
} */
.container h1 {
    text-align: center;
    color: var(--text);
    font-weight: bold;
}

p {
    font-size: large;
    color: var(--text);
    text-align: center;
}

.startQuiz {
    text-align: center;
    color: var(--text);
    font-size: large;
    margin: 0 0 0 40%;
    background-color: var(--contrast);
}